[submodule "extensions/aweshell"]
	path = extensions/aweshell
	url = git@github.com:manateelazycat/aweshell.git
[submodule "extensions/awesome-tray"]
	path = extensions/awesome-tray
	url = git@github.com:manateelazycat/awesome-tray.git
[submodule "extensions/lazycat-theme"]
	path = extensions/lazycat-theme
	url = git@github.com:manateelazycat/lazycat-theme.git
[submodule "extensions/lsp-bridge"]
	path = extensions/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "extensions/spacemacs-theme"]
	path = extensions/spacemacs-theme
	url = git@github.com:nashamri/spacemacs-theme.git
[submodule "extensions/painting-theme"]
	path = extensions/painting-theme
	url = git@github.com:haoran-mc/painting-theme.git
[submodule "extensions/org-contrib"]
	path = extensions/org-contrib
	url = git@github.com:emacsmirror/org-contrib.git
