[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = git@github.com:manateelazycat/awesome-tray.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "site-lisp/spacemacs-theme"]
	path = site-lisp/spacemacs-theme
	url = git@github.com:nashamri/spacemacs-theme.git
[submodule "site-lisp/aweshell"]
	path = site-lisp/aweshell
	url = git@github.com:manateelazycat/aweshell.git
[submodule "site-lisp/painting-theme"]
	path = site-lisp/painting-theme
	url = git@github.com:haoran-mc/painting-theme.git
[submodule "site-lisp/lazycat-theme"]
	path = site-lisp/lazycat-theme
	url = git@github.com:manateelazycat/lazycat-theme.git
